libros/wrox_expert_php_and_mysql/56120-ch15-services/company.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"     
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://example.com/companies"
             targetNamespace="http://example.com/companies">

  <types>
    <xsd:schema>
      <xsd:complexType name="company">
        <xsd:all>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="website" type="xsd:anyURI"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>


  <message name="CompanyInputOutput">
    <part name="id" type="xsd:integer"/>
    <part name="company" type="tns:company"/>
  </message>

  <message name="CreateCompanyInput">
    <part name="company" type="tns:company"/>
  </message>

  <message name="DeleteCompanyOutput">
    <part name="result" type="xsd:boolean"/>
  </message>

  <message name="ReferenceCompanyInput">
    <part name="id" type="xsd:integer"/>
  </message>


  <portType name="CompanyPortType">
  
    <operation name="GetCompany">
      <input message="tns:ReferenceCompanyInput"/>
      <output message="tns:CompanyInputOutput"/>
    </operation>

    <operation name="CreateCompany">
      <input message="tns:CreateCompanyInput"/>
      <output message="tns:CompanyInputOutput"/>
    </operation>

    <operation name="EditCompany">
      <input message="tns:CompanyInputOutput"/>
      <output message="tns:CompanyInputOutput"/>
    </operation>

    <operation name="DeleteCompany">
      <input message="tns:ReferenceCompanyInput"/>
      <output message="tns:DeleteCompanyOutput"/>
    </operation>

  </portType>

  <binding name="CompanyBinding" type="tns:CompanyPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    
    <operation name="GetCompany">
      <soap:operation soapAction="http://example.com/GetCompany" />
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    
    <operation name="CreateCompany">
      <soap:operation soapAction="http://example.com/CreateCompany"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="EditCompany">
      <soap:operation soapAction="http://example.com/EditCompany"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="DeleteCompany">
      <soap:operation soapAction="http://example.com/DeleteCompany"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

  </binding>

  <service name="CompanyService">
    <port name="CompanyPort" binding="tns:CompanyBinding">
      <soap:address location="http://example.com/companies"/>
    </port>
  </service>

</definitions>
